<?xml version="1.0"?>
<launch>

  <group ns="uav0">
	<node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
		<!-- <remap from="odom" to="mavros/local_position/odom" /> -->
		<remap from="odom" to="mavros/global_position/odom" />
		<remap from="cmd" to="tracker/pos_cmd" />
  	<rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_gazebo.yaml" />
	</node>
 	 <node pkg="px4ctrl" type="takeoff.sh" 
    	name="takeoff" output="screen">
	</node>
  </group>
</launch>
